{% extends 'layout.html' %}
{% block title %}Risk Detail{% endblock %}

{% block content %}
<br>
<div class="container-fluid">
  <table class="table">
    <tbody>
      <tr style="background-color: #8fc43d; color: #fff">
          <td><h2><center>Moonpig Risk Register</center><h2></td>
      </tr>
    </tbody>
  </table>
</div>


<div class="container-fluid">

<table class="table">
  <thead>
    <tr>
      <th scope="col">Key</th>
      <th scope="col">Summary</th>
      <th scope="col">Status</th>
      <th scope="col">Rating</th>     
      <th scope="col">Owner</th>
      <th scope="col">Vulnerability</th>

  </thead>
  <tbody style="font-size: 12px">
      {% for item in new_data['items'] %}
      {% for component in item['Components'] %}
      {% if component['name'] == "Moonpig-Risk" %}


         <tr> 
            <td class="typeR"><a href="https://jira.photobox.com/browse/{{ item['Key'] }}" target="_blank"> <span class="statusType">{{ item['Key'] }}</a></span></td>
            <td >{{ item['Summary'] }}</td>
            <td >{{ item['Status'] }}</td>
            <td >{{ item['Rating'] }}
            <td >{{ item['Risk Owner'] }}</td>
         </tr>

      {% for link in item['parent'] %}
      {% if link['Status'] !='Closed' and item['Status'] != 'Fixed' %}
      {% set parentItem = link['Key'] %}
      {% set parentSum = link['Summary'] %}
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
              <td class="typeR col-md-1"><a href="https://jira.photobox.com/browse/{{ parentItem }}" target="_blank"> <span class="statusType">{{ parentItem }}</a></span></td>
             <td>{{ parentSum }}</td>
          </tr>

      {% endif %}
      {% endfor %}
      {% endif %}
      {% endfor %}
      {% endfor %}

  </tbody>

</table>

</div>
{% endblock %}